/*****************************************************************************/
/*** 					CSS for Demoshop Search GUI 					   ***/
/*** 			 Don't change or add Styles without contact JG 	;)		   ***/
/*****************************************************************************/

/*****************************************************************************/
/*** PURE ***/
/*****************************************************************************/

*, html {
	margin: 0; 
	padding: 0;
}
body {
	background: #E0E0E0;
	color: #173452;
	font-family: Verdana,Arial;
	font-size: 11px;
}
* html body{
	text-align: center;
}
a {
	color: #173452;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
a img{
	border: 0;
}
h3{
	font-size: 11pt;
	border-bottom: 1px solid #5C7997;
	padding-bottom: 5px;
	margin-right: -5px;
}
select{
	color: #173452;
	font-family: Verdana,Arial;
	font-size: 11px;
	border: 1px solid #5C7997;
}
p{
	margin-top: 5px;
	margin-bottom: 10px;
}
hr{
	color: #5C7997;
	background: #5C7997;
	height:1px; 
	border: none;
}

#container {
	width: 980px; 
	background: #FFFFFF;
	border-left: 1px solid #5C7997;
	border-right: 1px solid #5C7997;
	margin: auto; 
	text-align: left;
}
.clear {
	clear: both;
	height: 1px;
	font-size: 1px;
}

/*****************************************************************************/
/*** HEADER ***/
/*****************************************************************************/

#header {
	background: #173452;
	color: #FFFFFF;
	height: 86px;
	clear: both;
}
#header #logo {
	float:left;
	padding-left: 10px;
}
#header #tabs {
	padding-top: 62px;
	float: right;
}
* html  #header #tabs{
	padding-top: 64px;
}
#header #tabs div{
	width: 100px;
	height: 19px; /* 24px-padding */
	white-space: nowrap;
	float: left;
	margin-right: 5px;
	padding-top: 5px;
	background-image: url("../images/demoshop/tab_100.png");
	background-repeat: no-repeat;
	font-size: 11pt;
	font-weight: bold;
	text-align: center;
}
* html  #header #tabs div{
	height: 24px;
}
#header #tabs div.passive{
	opacity: 0.5;
	filter:alpha(opacity=50);
}
#header #tabs div.bigTab{
	width: 129px;
	background-image: url("../images/demoshop/tab_129.png");
}

/*****************************************************************************/
/*** SEARCHBOXLINE ***/
/*****************************************************************************/

#searchboxLine{
	height: 50px;
	vertical-align: middle;
	border-bottom: 1px solid #5C7997;
	clear: both;
	background-image: url("../images/demoshop/searchbox_lens_end_whiteBg.png");
	background-repeat: no-repeat;
	background-position: left;
	z-index: 1;
}
#searchboxLine.asnHint{
	background-image: url("../images/demoshop/searchbox_lens_end_greyBg.png");
	background-repeat: no-repeat;
	background-position: left;
}
#searchboxLine #searchbox{
	float: left;
	margin-bottom: -4px;
	width: 450px;
}
#searchboxLine input#query{
	width:308px; 
	height: 28px; 
	font-size: 20px; 
	border: 0;
	border-bottom: 1px solid #5C7997;
	border-top: 1px solid #5C7997;
	position: relative;
	top: 1px; 
	left: 52px;
	autocomplete: off;
}
#searchboxLine input#query.default{
	color: #999999;
}
* html #searchboxLine input#query{
	top:2px;
}
#searchboxLine input#submit{
	position: relative;
	top: 10px; 
	left: 56px;
}
#searchboxLine #buttons {
	padding-right: 5px;
	text-align: right;
	float: right;
	margin-top: 10px;
}
#searchboxLine #buttons img{
	cursor: pointer;	
}
#searchboxLine #buttons a{
	margin-right: 10px;
}
#searchboxLine #buttons img#xmlButton{
	display: none;
}
#searchboxLine #SearchboxCMPlaceHolder{
	float:left;
	margin-left: 440px;
}
* html #searchboxLine #SearchboxCMPlaceHolder{
	margin-left: 0;
}

/*****************************************************************************/
/*** SUGGEST ***/
/*****************************************************************************/

/* needed otherwise the searchBoxLine will pop-up in IE */
div.suggestFormWrap{
	position:absolute;	
	z-index:1001;
}

.suggestFormWrap div.suggestLayer {
    margin-left: 30px;
    margin-top: 2px;
}

/*****************************************************************************/
/*** CONTENT ***/
/*****************************************************************************/

#content {
	clear:both;
}

/*****************************************************************************/
/*** ASN COLUMN ***/
/*****************************************************************************/

#asnColumn {
	float: left;
	width: 155px;
	padding: 60px 5px 40px 10px;
}
* html #asnColumn {
	width: 170px;
}
#asnColumn.asnHintDE {
	background-image: url("../images/demoshop/asn_hint_de.png");
	background-repeat: no-repeat;
	background-position: top ;
}
#asnColumn.asnHintEN {
	background-image: url("../images/demoshop/asn_hint_en.png");
	background-repeat: no-repeat;
	background-position: top ;
}
div.asnGroup p.asnElement{
	padding: 4px 0 3px 12px; 
	background-image: url("../images/demoshop/quad.png");
	background-repeat: no-repeat;
	background-position: center left;
	margin: 0;
}
div.asnGroup p.asnElement span{
	color: #999999;
}
div.asnGroup p.lvl1{
	margin-left: 12px;
}
div.asnGroup p.lvl2{
	margin-left: 25px;
}
div.asnGroup p.selected{
	background-image: url("../images/demoshop/quad_red_filled.png");
}
div.asnGroup p.selected a{
	color: #AD0E3F;
}
div.asnGroup p.selected a span{
	color: #AD0E3F;
}
div.asnGroup select{
	margin-top: 5px;
	width: 155px;
}
div.asnGroup {
	padding-bottom: 30px;
}

/*****************************************************************************/
/*** RESULT COLUMN ***/
/*****************************************************************************/

#resultColumn {
	float: left;
	width: 625px;
	margin: 0 5px 20px 10px;				
}
* html #resultColumn {
	width: 635px;			
}

#resultColumn #breadCrumbTrail{
	font-size: 12pt;
	padding-top: 15px;
	padding-bottom: 5px;
	padding-left: 20px;
}
#resultColumn #breadCrumbTrail a{
	font-weight: bold;
}


#resultColumn div.optionBox {
	padding: 5px 0;
	text-align: right;
	color: #5C7997;
}
#resultColumn div.optionBox select{
	width: 150px;
}

#resultColumn div.paging{
	border-bottom: 1px solid #5C7997;
	border-top: 1px solid #5C7997;
	padding-bottom: 5px;
	padding-top: 5px;
	margin: 3px 0;
	text-align: center;
	color: #5C7997;
}
#resultColumn div.paging a{
	color: #5C7997;
	padding: 5px;
}
#resultColumn div.paging span.currentPage{
	color: #173452;
	font-weight: bold;
	padding: 5px;
}
#resultColumn div.paging td.previousPage{
	font-size: 11px;
	text-align: right;
	width:200px;
}
#resultColumn div.paging td.pageLinks{
	font-size: 11px;
	white-space: nowrap;
	text-align:center;
}
#resultColumn div.paging td.nextPage{
	font-size: 11px;
	text-align: left;
	width:200px;
}
#resultColumn div.browseTop{
	margin-top: 83px;
}
#resultColumn.catalogBrowse{
	padding-top: 53px;
}
#resultColumn #results{
	padding: 10px 0;
	clear: both;
}
#resultColumn #results #resultWrap{
	padding-left: 1px;
}
* html #resultColumn #results #resultWrap{
	padding-left: 10px;
}

#resultColumn hr.resultLineNoMatch{
	margin-top: 4px;	
}
#resultColumn p.noMatchTopseller{
	padding-top: 20px;	
	padding-bottom: 10px;
}
#resultColumn p.noMatchSingleQueries{
	padding-top: 10px;
	margin-bottom: 5px;
}
#resultColumn ul.noMatchSingleQueriesList{
	margin-left: 15px;
}

#resultColumn p.resultSingleQueries{
	margin-bottom: 5px;
}
#resultColumn ul.resultSingleQueriesList li{
	display: inline;
	padding-right: 10px;
}

#resultColumn p.timeout{
	border: 1px solid #5C7997;
	padding: 5px;
	background-color: #E0E0E0;
}

#resultColumn #advisorCampaign {
    background: none repeat scroll 0 0 #CCD7E3;
    border: 1px solid #173452;
    float: left;
    margin-bottom: 10px;
    margin-top: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 100%;
}

#resultColumn #advisorCampaign .question {
	margin:10px;
    font-size: 13px;
}

#resultColumn #advisorCampaign .answer {
    font-size: 11px;
    margin-left: 10px;
    text-decoration: underline;
}


/*****************************************************************************/
/*** PUSHED PRODUCTS IN RESULT COLUMN ***/
/*****************************************************************************/

#resultColumn #results #pushedProducts{
	background: white;
	border: 1px solid #173452;
	float: left;
	background-color: #CCD7E3;
}
#resultColumn #results #pushedProducts div.productWrap{
	float: left;
}
#resultColumn #results #pushedProducts p{
	font-size: 9pt;
	font-weight: bold;
	padding: 0 10px;
	margin:  10px 0;
}
#resultColumn #results #pushedProducts div.product{
	margin: 0 4px 8px 4px;
	background-color: transparent;
}
/*** div.product-hover is for IE, this style is added with JS  ****/
#resultColumn #results #pushedProducts div.product:hover, 
#resultColumn #results #pushedProducts div.product-hover{
	border: 1px solid #173452;
}
* html #resultColumn #results #pushedProducts div.product div.special {
	left: -82px; 
	z-index: 1;
}
#resultColumn #results #pushedProducts div.product div.title a{
	color: #173452;
}
#resultColumn #results #pushedProducts div.product div.price{
	color: #173452;
}
#resultColumn #results p{
	font-size: 8pt;
	font-weight: bold;
	margin-bottom: 5px;
	margin-top: 20px;
	padding: 0 10px;
}

/*****************************************************************************/
/*** PUSHED PRODUCTS IN INFO COLUMN***/
/*****************************************************************************/

#infoColumn #pushedProducts *{
	padding-left: 0;
}
#infoColumn #pushedProducts{
	background: white;
	border: 1px solid #173452;
	float: left;
	background-color: #CCD7E3;
	padding-left: 0;
}
#infoColumn #pushedProducts div.productWrap{
	float: left;
}
#infoColumn #pushedProducts p{
	font-size: 9pt;
	font-weight: bold;
	padding: 0 10px;
	margin:  10px 0;
}
#infoColumn #pushedProducts div.product{
	margin: 0 4px 8px 4px;
	background-color: transparent;
}
* html #infoColumn #pushedProducts div.product{
	width: 130px;	
}
/*** div.product-hover is for IE, this style is added with JS  ****/
#infoColumn #pushedProducts div.product:hover, 
#infoColumn #pushedProducts div.product-hover{
	border: 1px solid #173452;
}
* html #infoColumn #pushedProducts div.product div.special {
	left: -82px; 
	z-index: 1;
}
#infoColumn #pushedProducts div.product div.title a{
	color: #173452;
}
#infoColumn #pushedProducts div.product div.price{
	color: #173452;
}
#infoColumn #pushedProducts div.product div.picture{
	padding: 10px 0;
}

#infoColumn #pushedProducts.toBackground{
	opacity : 0.2;
	filter:alpha(opacity=20);
}

/*****************************************************************************/
/*** PRODUCT ***/
/*****************************************************************************/

/*** This is needed, without the suggest would be under the products in IE ***/
div.productWrap {
	position: relative;
}

* html div.productWrap {
	position: static;
	z-index:10;
}

div.product {
	width: 145px;
	height: 225px;
	text-align: center;
	float: left;
	margin: 0 5px 5px 4px;
	border: 1px solid transparent;
	z-index: 11;
	position: relative;
	background: #FFFFFF;
}
/*** part of "suggest under product"-hack for IE ***/
* html div.product {
	position: static;
	left:-100px;
	top:0px;
	height: 228px;
	margin: 0 5px 5px 4px;
	z-index:11;
}

/*** div.product-hover is for IE, this style is added with JS  ****/
div.product:hover, div.product-hover{
	border: 1px solid #5C7997;
	z-index: 12;
}
div.product div.special{
	position: absolute; 
	line-height: 18px;
	white-space: nowrap;
	vertical-align: middle;
	width: 78px;
	height: 18px;
	left: 68px;
	top: -1px; 
	color: white;
	font-size: 8pt;
	text-align: center;
	font-weight: bold;
	background: #5C7997;
}
* html div.product div.special {
	margin-right:67px;
	margin-top:-29px;
	top: -5px;
	position: relative; 
}

div.product div.new{
	background: #008000;
	
}
div.product div.used{
	background: #919191;
}

div.specialInfos {
	position:relative;
	top:0px;
}

* html div.specialInfos {
	position:relative;
	top:34px;	
	height:1px;
}

div.product div.dragHandle{
	background: #5C7997;
	width: 26px;
	height: 21px;
	position: absolute; 
	line-height: 20px;
	white-space: nowrap;
	vertical-align: middle;
	left: 0px;
	top: -1px; 
	color: white;
	cursor: move;
	padding-top: 5px;
	display: none;
}
* html div.product div.dragHandle{
	z-index:13;
	float:left;
	margin-top:-29px;
	position: relative;
	top: -5px;
}

div.product div.picture{
	padding: 10px;
	height: 170px;
	line-height: 170px;
	white-space: nowrap;
	z-index: 1;
}

* html div.picture {
	margin-top:7px;
}

div.product div.picture img{
	z-index: 1;	
}

div.product div.title a{
	color: #5C7997;
	z-index: 1;	
	vertical-algin: bottom;
}
div.product div.price{
	color: #999999;
	text-align: right;
	padding-right: 12px;
	z-index: 1;
	vertical-algin: bottom;	
}
div.product div.hoverDescription{
	display: none;
}

.removed{
	opacity : 0.33;
	filter:alpha(opacity=33);
}


/*****************************************************************************/
/*** INFO COLUMN ***/
/*****************************************************************************/

#infoColumn {
	float: right;
	width: 155px;
	padding: 60px 10px 40px 5px;
}
#infoColumn *{
	padding-left: 10px;
}
#infoColumn h3{
	margin-right: 0;
	padding-left: 0;
}
#infoColumn #infoPlaceHolder{
	padding-left: 0;
}

/*****************************************************************************/
/*** PRODUCT TRASH ***/
/*****************************************************************************/

div#productTrash{
	cursor: pointer;
	position: absolute;
	z-index:50;
	top: 900px;
	height: 128px;
	width: 128px;
	padding-left: 0;
	text-align: center;
	margin-left: 10px;	
	background-image: url("../images/demoshop/management/bigtrash_empty.png");
	background-color: white;
	background-position: bottom;
	background-repeat: no-repeat;
	display: none;
	opacity: 0.6;
	filter:alpha(opacity=60);
}
div#productTrash.full{
	background-image: url("../images/demoshop/management/bigtrash_full.png");
	margin-top: -4px;
}
div#productTrash img#ajaxLoading{
	padding-left: 0;
	margin-top: 35px;
	margin-left: 7px;
	display: none;
}
div.dragging{
	opacity: 0.5;
	filter:alpha(opacity=50);
}
div#productTrash.dragOver{
	background-color: #AD0E3F;
}

/*****************************************************************************/
/*** FOOTER ***/
/*****************************************************************************/

#footer{
	clear: both;
	background: #173452;
	color: #FFFFFF;
	height: 30px;
	line-height: 30px;
	vertical-align: middle;
	padding: 0 10px;
}
#footer #footerLogo{
	margin-top: 8px; 
	float:left;
	padding-right: 10px;
}
#footer #footerText{
	float:left;
}
#footer #footerLink{
	float:right;
}
#footer #footerLink a{
	color: #FFFFFF;
}

/*****************************************************************************/
/*** PRODUCT DETAIL ***/
/*****************************************************************************/

#content #resultColumn.productDetail{
	padding-top: 20px;	
}
#content #resultColumn.productDetail div.picture{
	float: left;
	padding-right: 10px;
}
#content #resultColumn.productDetail div.description{
	padding: 10px;
	font-size: 12px;
}
#content #resultColumn.productDetail div.description div{
	font-size: 12px;
	text-align: right;
	font-weight: bold;
	color: #999999;
	margin-bottom: 10px;
}
#content #resultColumn.productDetail div.description a.deeplink{
	padding: 2px 5px;
	border: 1px solid #173452;	
}
#content #resultColumn.productDetail #similarProducts{
	padding-top: 20px;	
}
#content #resultColumn.productDetail #similarProducts div.product{
	float: left; 
	width: 100px; 
	height: 160px; 
	margin: 5px;
	padding: 5px;
}
#content #resultColumn.productDetail #similarProducts div.product img{
	width: 80px;
}
#content #resultColumn.productDetail #similarProducts div.product div{
	height: 120px;
}


ul#similarReason{
	list-style: none;
}
ul#similarReason li{
	list-style: none;
	margin-left: 10px;
}
ul#similarReason li.fieldName{
	font-weight: bold;
	margin-top: 10px;
	margin-left: 0;
}

/*****************************************************************************/
/*** PRODUCT TRASH POPUP ***/
/*****************************************************************************/

div.ui-dialog {
	background-color: #FFFFFF;
	border: 1px solid #173452;
	text-align: left;
}
.ui-dialog .ui-dialog-titlebar {
	background: #173452;
	padding: 0px;
	height: 28px;
	_height: 29px;
	color: #FFFFFF;
}
.ui-dialog.ui-draggable .ui-dialog-titlebar {
	cursor: move;
}
.ui-dialog .ui-dialog-titlebar-close {
	position:absolute;
	top: 6px;
	right: 10px;
	color: white;
	font-weight: bold;
	font-size: 12px;
}
.ui-dialog .ui-dialog-title {
	margin-left: 5px;
	color: white;
	font-weight: bold;
	position: relative;
	top: 7px;
	left: 4px;
	white-space: nowrap;
}
.ui-dialog .ui-dialog-content {
	margin: 1.2em;
}
div.trashError{
	border: 1px solid red;
}
div.trashError div.ui-dialog-titlebar {
	background: red;
}

.ui-resizable { 
	position: relative;
}
.ui-resizable-handle { 
	position: absolute; 
	display: none; 
	font-size: 0.1px; 
}
.ui-resizable .ui-resizable-handle { 
	display: block; 
}
body .ui-resizable-disabled .ui-resizable-handle { display: none; } /* use 'body' to make it more specific (css order) */
body .ui-resizable-autohide .ui-resizable-handle { display: none; } /* use 'body' to make it more specific (css order) */

.ui-resizable-n { 
	cursor: n-resize; 
	height: 6px; 
	width: 100%; 
	top: 0px; 
	left: 0px; 
}
.ui-resizable-s { 
	cursor: s-resize; 
	height: 6px; 
	width: 100%; 
	bottom: 0px; 
	left: 0px; 
}
.ui-resizable-e { 
	cursor: e-resize; 
	width: 6px; 
	right: 0px; 
	top: 0px; 
	height: 100%; 
}
.ui-resizable-w { 
	cursor: w-resize; 
	width: 6px; 
	left: 0px; 
	top: 0px; 
	height: 100%; 
}
.ui-resizable-se { 
	cursor: se-resize; 
	width: 9px; 
	height: 9px; 
	right: 0px; 
	bottom: 0px; 
	background-color: #173452; 
}
.ui-resizable-sw { 
	cursor: sw-resize; 
	width: 9px; 
	height: 9px; 
	left: 0px; 
	bottom: 0px; 
	background-color: #173452; 
}
.ui-resizable-nw { 
	cursor: nw-resize; 
	width: 9px; 
	height: 9px; 
	left: 0px; 
	top: 0px; 
}
.ui-resizable-ne { 
	cursor: ne-resize; 
	width: 9px; 
	height: 9px; 
	right: 0px; 
	top: 0px; 
}

/*****************************************************************************/
/*** PREVIEW ASN IMAGES ***/
/*****************************************************************************/

#asnTop{
	border: 1px solid #5C7997; 
	margin-top: 15px;
	background-color: #E0E0E0;
}
#asnTop div.asnImage{
	border: 1px solid transparent; 
	float: left;
	width: 100px; 
	height: 160px; 
	margin: 6px;
	padding: 5px;
	text-align: center;
}
#asnTop div.asnImage:hover,
#asnTop div.asnImage-hover{
	border: 1px solid #5C7997; 
}
#asnTop div.asnImage div{
	height: 120px;
}
#asnTop h3{
	border-bottom: none;
	padding-bottom: 0;
	margin-left: 5px;
	margin-top: 5px;
}
#asnTop p.selectLine{
	clear: both;
	text-align: right;
	margin-right: 8px;	
}
#asnTop p.selectLine select{
	width: 155px;
	background-color: #E0E0E0;
}

/*****************************************************************************/
/*** INFOPAGE WITH MAILFORM ***/
/*****************************************************************************/

#resultColumn.infoPage a{
	font-weight: bold;
}
#resultColumn.infoPage h2{
	padding-top: 25px;
}
div#form{
	margin: 30px 0;
}
div#form label, div#form input, div#form select{
	display: block;
	float: left;
	margin-bottom: 3px;
}
div#form label{
	width: 120px;
	cursor: pointer;
	font-weight: bold;
}
div#form input, div#form select{
	width: 200px;
}
div#form input, div#form textarea{
	border: 1px solid #5C7997;
	color: #173452;
	font-family: Verdana,Arial;
	font-size: 11px;
	padding: 2px;
}
div#form textarea{
	width: 400px;
}
div#form input.submit{
	background: #FFFFFF;
	margin-top: 20px;
	margin-left: 120px;
	cursor: pointer;
}
div#form div#returnInfo{
	margin-left: 120px;
	width: 400px;
	padding: 2px;
}
div#form div#returnInfo.successful{
	border: 1px solid green;
	background-color: #D0F5A9;
}
div#form div#returnInfo.error{
	border: 1px solid #FF423D;
	background-color: #FFF0F0;
}
div#form div#returnInfo ul{
	margin-left: 20px;
}
div#form div#returnInfo ul li{
	margin-top: 2px;
}

/*****************************************************************************/
/*** EXPERIMENTAL ***/
/*****************************************************************************/

.infoblock {
	cursor:help;
}